@tailwind base;

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  @apply font-sans text-black;
}

.link {
  @apply underline font-semibold;
}

.link:hover {
  @apply no-underline;
}

.link--light {
  @apply text-white;
}

.link--light:hover {
  @apply text-white;
}

.btn {
  @apply text-white bg-black leading-none text-center inline-block py-3 px-8 font-semibold shadow cursor-pointer;
  transition: all 0.1s ease-in-out;
}

.btn:hover:not(:disabled) {
  @apply bg-grey-100 shadow-md;
}

.btn:disabled {
  @apply opacity-50 cursor-not-allowed;
}

.btn--primary {
  @apply bg-primary;
  background-repeat: no-repeat;
  transition: background-image 0.25s ease-in;
}

.btn--primary:hover:not(:disabled) {
  @apply bg-primary-dark;
}

.btn--primary-light {
  @apply bg-white text-primary;
}

.btn--primary-light:hover:not(:disabled) {
  @apply bg-transparent border border-white text-white shadow-none;
}

.btn--outline {
  @apply bg-transparent border border-black text-black shadow-none;
}

.btn--outline:hover:not(:disabled) {
  @apply bg-black border border-black text-white;
}

.btn--outline-primary-light {
  @apply bg-transparent border border-white text-white shadow-none;
}

.btn--outline-primary-light:hover:not(:disabled) {
  @apply bg-white border border-white text-primary;
}

.btn--outline-light {
  @apply bg-transparent border border-white text-white shadow-none;
}

.btn--outline-light:hover:not(:disabled) {
  @apply bg-white border border-white text-black;
}

.hamburger {
  @apply w-6 h-6 relative block;
}

.hamburger span {
  @apply absolute w-full bg-black;
  top: 50%;
  left: 0;
  height: 2px;
  transform: translateY(-50%);
  transition: transform 0.2s ease-in-out;
}

.hamburger.hamburger--light span {
  @apply bg-white;
}

.hamburger span:first-child {
  top: calc(50% - 6px);
}

.hamburger span:last-child {
  top: calc(50% + 6px);
}

[aria-expanded="true"] > .hamburger span:nth-child(2) {
  @apply bg-white;
  transform: translateY(-50%) rotate(45deg);
}

[aria-expanded="true"] > .hamburger span:nth-child(3) {
  @apply bg-white;
  transform: translateY(-50%) rotate(-45deg);
}

[aria-expanded="true"] > .hamburger span:first-child,
[aria-expanded="true"] > .hamburger span:last-child {
  @apply opacity-0;
}

[data-track]:not(form) > * {
  @apply pointer-events-none;
}

@tailwind utilities;